# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/
.python-version
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_lock

# OS/IDE
.DS_Store
Thumbs.db
*.swp
.vscode/

# Android/IDE (Android Studio)
*.iml
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
/build
/captures
.externalNativeBuild/
.cxx/
local.properties

# Env/Secrets
.env
*.env
*.secret
*.key
*.pem
credentials.json
firebase-sa.json

# Logs
*.log

# Cache
.cache/

# Node (just in case)
node_modules/

# Docker
*.local

# Project specific
backend/__pycache__/
backend/app/__pycache__/
